<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>

<body>
    <h1>The grid-row-gap Property:</h1>

    <div class="grid-container">
        <div class="grid-item scrollbar-user">
            <div class="grid-item grid-border-top">
                <h3>user_id:</h3>
            </div>
            <div class="grid-item grid-border-top">
                <h3>display_name:</h3>
            </div>
            <div class="grid-item grid-border-top">
                <h3>user_id:</h3>
            </div>
            <div class="grid-item grid-border-top">
                <h3>display_name:</h3>
            </div>
            <div class="grid-item grid-border-top">
                <h3>user_id:</h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-item grid-border scrollbar-chat">
                <div class="grid-chat">
                    <p>
                        <strong>Note:</strong> The -webkit-scrollbar is not supported in Firefox or in Edge, prior version 79.
                    </p>

                    <p>
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                    <p>
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                    <p>
                        Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                </div>
            </div>
            <div class="grid-item grid-border">
                3
            </div>
        </div>
    </div>
</body>

</html>