html
    head
        link(rel="stylesheet", type="text/css", href="/style.css")
        link(rel="stylesheet", type="text/css", href="/flex2html.css")
        script(type="text/javascript" src="/flex2html.min.js")
        script(src="https://code.jquery.com/jquery-3.5.0.js")
        script.
            $(document).ready(function(){

                getContact()

            });


            function getContact(){

                let query_date = {};

                let contact  = localStorage.getItem("contact");
                let c_contact = null

                if(contact){ //check get contact

                   let getContact = localStorage.getItem("contact");
                   let getContactjs =  JSON.parse(getContact);

                   console.log("json ",getContactjs)

                    if(getContactjs.lastDateQuery){
                        c_contact = getContactjs.lastDateQuery
                        query_date = {"lastDateQuery" : c_contact}
                    }
                }


                
                $.ajax({
                    method:"get",
                    url: "/roboshop/contacts/",
                    data : query_date
                    , success: function(result){ 

                    let getContact = localStorage.getItem("contact");
                    let fetch_contact = JSON.parse(getContact);

                
                    if(!fetch_contact){

                        fetch_contact = result
                        localStorage.setItem("contact",JSON.stringify(fetch_contact)); 

                    }else{

                        let contact_fetch = fetch_contact.contact;

                        for(var i=0;i<result.contact.length;++i){
                            if(!contact_fetch.includes(result.contact[i])){
                               contact_fetch.push(result.contact[i]) 
                            }
                        }

                        let lastDate_result = result.lastDateQuery;
                        let final_result = { "lastDateQuery": lastDate_result , "contact" : fetch_contact.contact } ; 

                        localStorage.setItem("contact",JSON.stringify(final_result)); 

                        console.log("final ",JSON.parse(localStorage.getItem("contact")))
                    }


                    




                    //- let contact_result = result.contact;
                    //- console.log("contact_result ",contact_result)

                    //- if (contact_result.contact.length == 0){
                    //-     localStorage.setItem("contact")
                    //- } else {
                    //-     localStorage.setItem("contact",JSON.stringify(contact_result)); 
                    //- }

                

                    for(var i=0;i<fetch_contact.contact.length;++i){

                        let thisContact = fetch_contact.contact[i];

                        query_date = {"lastDateQuery" : c_contact , "select" : "count"}
                        //ajax
                        $.ajax({
                            method:"get",
                            url: "/roboshop/chat/userId/"+thisContact,
                            data: query_date, 
                            success: function(result){
                            //doing here

                            let count_unread = "";

                            if(result.length == 0){
                                console.log("count_unread undefined")
                            }else{
                                count_unread = "("+result[0].count+")"
                                console.log("count_unread ",result[0].count)
                            }
    
                            $('#contact').remove();
                            //create div                                                                                                                               
                            $('#contact-line').append('<div id="'+ thisContact +'" class="user-list" onclick="logHistory(this.id)">'+ thisContact+" "+count_unread+'</div>');
                            console.log("result contact ",thisContact)
                            //- $('#contact').append('<div id="'+ result[i].userId+'" onclick="getChat('+result[i].displayName+')">'+ result[i].displayName +'</div>'); 

                        }});
                        
                       
 
                    }

                  

                }});



            }

            function logHistory(id){
                let chatlog;
                let chatlog_date = null
                let chatlog_chat = [];
                let query_date = {};
                if (typeof(Storage) == "undefined") {
                    alert("Sorry, your browser does not support Web Storage...")
                } else {
                    //- chatlog_$id = { lastDateQuery, chats }
                    //- get item from local storage
                    chatlog = localStorage.getItem("chatlog_" + id);
                    if (chatlog) {
                        chatlog_parse = JSON.parse(chatlog);
                        chatlog_date = chatlog_parse.lastDateQuery;
                        query_date = { "lastDateQuery": chatlog_date };
                        if (chatlog_parse.chats){
                            chatlog_chat = chatlog_parse.chats;
                        }
                    }
                    console.log("chatlog_date: ", chatlog_date, " chatlog_chat: ", chatlog_chat.length);
                }

                let date_query;
                $.ajax({
                    method:"get",
                    url:'/roboshop/chat/userId/' + id,
                    data: query_date,
                    success:function(response){

                        for (let i = 0; i < response.length; i++){
                            if (response[i].lastDateQuery) {
                                date_query = response[i].lastDateQuery;
                            } else {
                                chatlog_chat.push(response[i])
                            }
                        }
                        console.log("finished loop: ", chatlog_chat.length);

                        //- set to local storage
                        let storage = {"lastDateQuery": date_query, "chats": chatlog_chat};
                        localStorage.setItem("chatlog_" + id, JSON.stringify(storage));

                        //- loop chats in storage
                        let res_message;
                        let temp_date, data_date, isoDate, newDate, time, min;
                        $("#flex").remove();
                        $("#flex-line").append('<div id="flex"></div>');
                        for (let i = 0; i < chatlog_chat.length; i++) {
                            //- set date
                            isoDate = chatlog_chat[i].date;
                            newDate = new Date(isoDate);
                            data_date = isoDate.match(/\d\d\d\d-\d\d-\d\d/);
                            
                            if (temp_date == null || data_date > temp_date){
                                temp_date = data_date;
                                flex2html("flex", {
                                    "type": "flex",
                                    "altText": "Flex Message",
                                    "contents": {
                                        "type": "bubble",
                                        "body": {
                                            "type": "box",
                                            "layout": "vertical",
                                            "contents": [
                                            {
                                                "type": "text",                                                    
                                                "text": temp_date,
                                                "weight": "bold",
                                                "size": "sm",
                                                "margin": "none"
                                            }
                                            ]
                                        },
                                        "custom": "date"
                                    },
                                    "direction": "date"
                                });
                            }

                            //- set time
                            min = newDate.getMinutes();
                            if(min < 10){
                                min = '0' + newDate.getMinutes();;
                            }
                            time = newDate.getHours() + ':' + min;

                            //- query that client's req
                            flex2html("flex", {
                                "type": "flex",
                                "altText": "Flex Message",
                                "contents": {
                                    "type": "bubble",
                                    "body": {
                                        "type": "box",
                                        "layout": "vertical",
                                        "contents": [
                                        {
                                            "type": "text",
                                            "text": chatlog_chat[i].query,
                                            "weight": "bold",
                                            "size": "sm",
                                            "margin": "none"
                                        }
                                        ]
                                    },
                                    "custom": "rtl"
                                },
                                "direction": "rtl"
                            });
                            $("#flex").append('<div id="date" class="LySlider timeSent-rtl">' + time + '</div><br><br>');
                            //- responseMessage that server's res
                            res_message = chatlog_chat[i].responseMessages;
                            for (let n = 0; n < res_message.length; n++) {
                                console.log(res_message[n]);
                                if (typeof res_message[n] == 'string') {
                                    flex2html("flex", {
                                        "type": "flex",
                                        "altText": "Flex Message",
                                        "contents": {
                                            "type": "bubble",
                                            "body": {
                                                "type": "box",
                                                "layout": "vertical",
                                                "contents": [
                                                {
                                                    "type": "text",
                                                    "text": res_message[n],
                                                    "weight": "bold",
                                                    "size": "sm",
                                                    "margin": "none"
                                                }
                                                ]
                                            },
                                            "custom": "ltr"
                                        }
                                    });
                                } else {
                                    flex2html("flex", res_message[n].payload);
                                }
                                $("#flex").append('<div id="date" class="LySlider timeSent-ltr">' + time + '</div><br><br>');
                            }
                        }
                    }
                });
            }
    body
        div(class="container")

            div(id="people" class="user scrollbar-user")
                div(class="user-list user-tag") contacts
                div(id="contact-line")
                    //- CONTACT LINE HERE
                    div(id="contact" class="user-list" onClick="logHistory(this.id)")

            div(class="chat")
                div(class="log scrollbar-log")
                    div(id="flex-line" class="chatbox")
                        //- FLEX LINE HERE
                        div(id="flex")
                div(class="message")
                    textarea
                    div(class="send") send