html
    head
        link(rel="stylesheet", type="text/css", href="/style.css")
        link(rel="stylesheet", type="text/css", href="/flex2html.css")
        script(type="text/javascript" src="/flex2html.min.js")
        script(src="https://code.jquery.com/jquery-3.5.0.js")
        script.
            $(document).ready(function(){

                //- contact: {
                //-     lastDateQuery: 2021-05-18T07:25:45.720Z,
                //-     contact: [ 'shop1', 'nongeye', 'xxyyzz', 'weee', 'earth', 'fdwsfw' ]
                //- }

                let contact  = localStorage.getItem("contact");
                let c_contact = null

                if(contact){ //check get contact

                   let getContact = localStorage.getItem("contact");
                   let getContactjs =  JSON.parse(getContact);

                   console.log("json ",getContactjs)

                    if(getContactjs.lastDateQuery){
                        c_contact = getContactjs.lastDateQuery
                    }
                }


                $.ajax({url: "/roboshop/contacts/?lastDateQuery="+c_contact, success: function(result){ 


                    let contact_result = result.contact;
                    console.log("contact_result ",contact_result)

                    localStorage.setItem("contact",JSON.stringify(contact_result)); 

                    for(var i=0;i<contact_result.contact.length;++i){

                        //ajax
                        $.ajax({url: "/roboshop/chat/userId/:userId/?lastDateQuery="+c_contact+"&select=count", success: function(result){
                            //doing here

                            //- let count_unread = result.count;
    
                            $('#contact').remove();
                            //create div                                                                                                                                //userId (?) " "+count_unread[i]+
                            $('#contact-line').append('<div id="'+ contact_result.contact[i] +'" class="grid-item grid-border-top" onclick="logHistory(this.id)">'+ contact_result.contact[i] +'</div>');
                            console.log("result contact ",contact_result.contact[i])
                            //- $('#contact').append('<div id="'+ result[i].userId+'" onclick="getChat('+result[i].displayName+')">'+ result[i].displayName +'</div>'); 

                        }});
                        
                       
 
                    }

                  

                }});
            });

            function logHistory(id){
                let chatlog;
                let chatlog_date = null
                let chatlog_chat = [];
                let query_date = {};
                if (typeof(Storage) == "undefined") {
                    alert("Sorry, your browser does not support Web Storage...")
                } else {
                    //- chatlog_$id = { lastDateQuery, chats }
                    //- get item from local storage
                    chatlog = localStorage.getItem("chatlog_" + id);
                    if (chatlog) {
                        chatlog_parse = JSON.parse(chatlog);
                        chatlog_date = chatlog_parse.lastDateQuery;
                        query_date = { "lastDateQuery": chatlog_date };
                        if (chatlog_parse.chats){
                            chatlog_chat = chatlog_parse.chats;
                        }
                    }
                    console.log("chatlog_date: ", chatlog_date, " chatlog_chat: ", chatlog_chat.length);
                }

                let date_query;
                $.ajax({
                    method:"get",
                    url:'/roboshop/chat/userId/' + id,
                    data: query_date,
                    success:function(response){

                        for (let i = 0; i < response.length; i++){
                            if (response[i].lastDateQuery) {
                                date_query = response[i].lastDateQuery;
                            } else {
                                chatlog_chat.push(response[i])
                            }
                        }
                        console.log("finished loop: ", chatlog_chat.length);

                        //- set to local storage
                        let storage = {"lastDateQuery": date_query, "chats": chatlog_chat};
                        localStorage.setItem("chatlog_" + id, JSON.stringify(storage));

                        //- loop chats in storage
                        let res_message;
                        let temp_date, data_date, isoDate, newDate, time, min;
                        $("#flex").remove();
                        $("#flex-line").append('<div id="flex"></div>');
                        for (let i = 0; i < chatlog_chat.length; i++) {
                            //- set date
                            isoDate = chatlog_chat[i].date;
                            newDate = new Date(isoDate);
                            data_date = isoDate.match(/\d\d\d\d-\d\d-\d\d/);
                            
                            if (temp_date == null || data_date > temp_date){
                                temp_date = data_date;
                                flex2html("flex", {
                                    "type": "flex",
                                    "altText": "Flex Message",
                                    "contents": {
                                        "type": "bubble",
                                        "body": {
                                            "type": "box",
                                            "layout": "vertical",
                                            "contents": [
                                            {
                                                "type": "text",                                                    
                                                "text": temp_date,
                                                "weight": "bold",
                                                "size": "sm",
                                                "margin": "none"
                                            }
                                            ]
                                        },
                                        "custom": "date"
                                    },
                                    "direction": "date"
                                });
                            }

                            //- set time
                            min = newDate.getMinutes();
                            if(min < 10){
                                min = '0' + newDate.getMinutes();;
                            }
                            time = newDate.getHours() + ':' + min;

                            //- query that client's req
                            flex2html("flex", {
                                "type": "flex",
                                "altText": "Flex Message",
                                "contents": {
                                    "type": "bubble",
                                    "body": {
                                        "type": "box",
                                        "layout": "vertical",
                                        "contents": [
                                        {
                                            "type": "text",
                                            "text": chatlog_chat[i].query,
                                            "weight": "bold",
                                            "size": "sm",
                                            "margin": "none"
                                        }
                                        ]
                                    },
                                    "custom": "rtl"
                                },
                                "direction": "rtl"
                            });
                            $("#flex").append('<div id="date" class="LySlider timeSent-rtl">' + time + '</div><br><br>');
                            //- responseMessage that server's res
                            res_message = chatlog_chat[i].responseMessages;
                            for (let n = 0; n < res_message.length; n++) {
                                console.log(res_message[n]);
                                if (typeof res_message[n] == 'string') {
                                    flex2html("flex", {
                                        "type": "flex",
                                        "altText": "Flex Message",
                                        "contents": {
                                            "type": "bubble",
                                            "body": {
                                                "type": "box",
                                                "layout": "vertical",
                                                "contents": [
                                                {
                                                    "type": "text",
                                                    "text": res_message[n],
                                                    "weight": "bold",
                                                    "size": "sm",
                                                    "margin": "none"
                                                }
                                                ]
                                            },
                                            "custom": "ltr"
                                        }
                                    });
                                } else {
                                    flex2html("flex", res_message[n].payload);
                                }
                                $("#flex").append('<div id="date" class="LySlider timeSent-ltr">' + time + '</div><br><br>');
                            }
                        }
                    }
                });
            }
    body
        h1 The grid-row-gap Property:
        div(class="grid-container")
            div(id="contact-line" class="grid-item scrollbar-user")
                //- LOOP DIV for show contacts
                div(id="contact")
                div(id="contact" class="grid-item grid-border-top" onClick="logHistory(this.id)")
            div(class=".grid-item")
                div(class="grid-item grid-border scrollbar-chat grid-chat")
                    div(id="flex-line" class="chatbox")
                        //- FLEX LINE HERE
                        div(id="flex")
                div(class="grid-item grid-border")
                    h3 text