html
    head
        link(rel="stylesheet", type="text/css", href="/style.css")
        link(rel="stylesheet", type="text/css", href="/flex2html.css")
        script(type="text/javascript" src="/flex2html.min.js")
        script(src="https://code.jquery.com/jquery-3.5.0.js")
        script.
            $(document).ready(function(){

                //query last_date.local html5
                //- let lastDate;

                let date  = localStorage.getItem('lastDateQuery');


                $.ajax({url: "/roboshop/contact/?lastDateQuery="+date, success: function(result){ 


                    let r = result.lastQueryDate;

                    localStorage.setItem('lastDateQuery',r); //r = date.now


                    for(var i=0;i<result.length;++i){
                        //test
                        //- alert(result[i].displayName+i)
                        $('#contact').remove();
                        //create div
                        $('#contact-line').append('<div id="'+ result[i].userId +'" class="grid-item grid-border-top" onclick="logHistory(this.id)">'+ result[i].userId +'</div>');
                        //- $('#contact').append('<div id="'+ result[i].userId+'" onclick="getChat('+result[i].displayName+')">'+ result[i].displayName +'</div>'); 
 
                    }

                  

                }});
            });

            function logHistory(id){
                // Check browser support
                let chatlog, chatlog_date, last_querydate = null;
                if (typeof(Storage) == "undefined") {
                    alert("Sorry, your browser does not support Web Storage...")
                } else {
                    chatlog = localStorage.getItem("chatlog_" + id);
                    if (chatlog) {
                        chatlog_date = JSON.parse(chatlog);
                        last_querydate = chatlog_date[0].lastDateQuery;
                    }
                    console.log("chatlog: ", last_querydate);
                }
                $.ajax({
                    method:"get",
                    url:'/roboshop/chat/userId/' + id + '?lastDateQuery=' + last_querydate,
                    success:function(data){
                        let res_message;
                        let temp_date, data_date, isoDate, newDate, time;
                        let storage;
                        $("#flex").remove();
                        $("#flex-line").append('<div id="flex"></div>');
                        for (let i = 0; i < data.length; i++) {
                            if(data[i].lastDateQuery !== undefined){
                                if (chatlog == null) { //- add new data to local storage
                                    storage = data
                                    localStorage.setItem("chatlog_" + id, JSON.stringify(storage));
                                } else { //- update data in local storage
                                    //- storage = localStorage.getItem("chatlog_" + id);
                                    //- localStorage.setItem("chatlog_" + id, JSON.stringify(storage));
                                }
                                //- localStorage.setItem("chatlog_" + id, data[i].lastDateQuery);
                                console.log("lastDateQuery: ", data[i].lastDateQuery);
                            } else {
                                //- set date
                                isoDate = data[i].date;
                                newDate = new Date(isoDate);
                                data_date = isoDate.match(/\d\d\d\d-\d\d-\d\d/);
                                
                                if (temp_date == null || data_date > temp_date){
                                    temp_date = data_date;
                                    flex2html("flex", {
                                        "type": "flex",
                                        "altText": "Flex Message",
                                        "contents": {
                                            "type": "bubble",
                                            "body": {
                                                "type": "box",
                                                "layout": "vertical",
                                                "contents": [
                                                {
                                                    "type": "text",
                                                    "text": temp_date,
                                                    "weight": "bold",
                                                    "size": "sm",
                                                    "margin": "none"
                                                }
                                                ]
                                            },
                                            "custom": "date"
                                        },
                                        "direction": "date"
                                    });
                                }

                                //- set time
                                time = newDate.getHours() + ':' + newDate.getMinutes();

                                //- query that client's req
                                flex2html("flex", {
                                    "type": "flex",
                                    "altText": "Flex Message",
                                    "contents": {
                                        "type": "bubble",
                                        "body": {
                                            "type": "box",
                                            "layout": "vertical",
                                            "contents": [
                                            {
                                                "type": "text",
                                                "text": data[i].query,
                                                "weight": "bold",
                                                "size": "sm",
                                                "margin": "none"
                                            }
                                            ]
                                        },
                                        "custom": "rtl"
                                    },
                                    "direction": "rtl"
                                });
                                $("#flex").append('<div id="date" class="LySlider timeSent-rtl">' + time + '</div><br><br>');
                                //- responseMessage that server's res
                                res_message = data[i].responseMessages;
                                for (let n = 0; n < res_message.length; n++) {
                                    console.log(res_message[n]);
                                    if (typeof res_message[n] == 'string') {
                                        flex2html("flex", {
                                            "type": "flex",
                                            "altText": "Flex Message",
                                            "contents": {
                                                "type": "bubble",
                                                "body": {
                                                    "type": "box",
                                                    "layout": "vertical",
                                                    "contents": [
                                                    {
                                                        "type": "text",
                                                        "text": res_message[n],
                                                        "weight": "bold",
                                                        "size": "sm",
                                                        "margin": "none"
                                                    }
                                                    ]
                                                },
                                                "custom": "ltr"
                                            }
                                        });
                                    } else {
                                        flex2html("flex", res_message[n].payload);
                                    }
                                    $("#flex").append('<div id="date" class="LySlider timeSent-ltr">' + time + '</div><br><br>');
                                }
                            }
                        }
                        //- set item local storage

                    }
                });
            }
    body
        h1 The grid-row-gap Property:
        div(class="grid-container")
            div(id="contact-line" class="grid-item scrollbar-user")
                //- LOOP DIV for show contacts
                div(id="contact")
                div(id="contact" class="grid-item grid-border-top" onClick="logHistory(this.id)")
            div(class=".grid-item")
                div(class="grid-item grid-border scrollbar-chat grid-chat")
                    div(id="flex-line" class="chatbox")
                        //- FLEX LINE HERE
                        div(id="flex")
                div(class="grid-item grid-border")
                    h3 text