html
 head
 link(rel="stylesheet", type="text/css", src="../style.css")
 body
 h1 The grid-row-gap Property:
 script.
  if (10 == 10) {
    alert(message[1].userId)
  }
 .grid-container
 .grid-item.scrollbar-user
 .grid-item.grid-border-top
 h3 user_id:
 .grid-item.grid-border-top
 h3 user_id:
 .grid-item.grid-border-top
 h3 user_id:
 .grid-item
 .grid-item.grid-border.scrollbar-chat
 .grid-chat
 p= message[1].userId
 p This is still valid #{message}
 p The -webkit-scrollbar is not supported in Firefox or in Edge, prior version 79.
 p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
 p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
 p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
 .grid-item.grid-border
 h3 3